*
!*/

!/.gitignore
!/.gitignore_global
!/README.md
!/LICENSE
!/.zshenv
!/.xprofile

!/.config/dunst
!/.config/picom
!/.config/neofetch

!/.config/nvim
/.config/nvim/autoload/plugged**

!/.config/zsh
!/.config/shell
!/.config/lf
!/.config/x11

!/.local/bin/**
!/.local/share/bg
