.config/cef_user_data
.config/cava
.config/git
.config/gtk-2.0
.config/gtk-3.0
.config/gtk-4.0
.config/droidcam
.config/flameshot
.config/dconf
.config/clearine
.config/monitors.xml
.config/lyxrc
.config/LyX
.config/obsidian
.config/pulse
.config/polybar
.config/BraveSoftware
.config/autorandr
.config/alacritty
.config/autostart
.config/zo*
.config/keep*
.config/htop
.config/Google
.config/discord
.config/GIMP
.config/xarchiver
.config/syst*
.config/sxhkd
.config/goa-1.0
.config/gnome*
.config/Notepadqq
.config/Android\ Open\ Source\ Project
.config/user*
.config/budgi*

.local/bin/wal
.config/nvim/autoload
