*.background:	#0e1523
*.color0:	#0e1523
*.color1:	#8D5379
*.color10:	#33348B
*.color11:	#514DA9
*.color12:	#5A50A1
*.color13:	#956EAA
*.color14:	#AE94C9
*.color15:	#e0cee2
*.color2:	#33348B
*.color3:	#514DA9
*.color4:	#5A50A1
*.color5:	#956EAA
*.color6:	#AE94C9
*.color66:	#0e1523
*.color7:	#e0cee2
*.color8:	#9c909e
*.color9:	#8D5379
*.foreground:	#e0cee2
*background:	#0e1523
*color0:	#0e1523
*color1:	#8D5379
*color10:	#33348B
*color11:	#514DA9
*color12:	#5A50A1
*color13:	#956EAA
*color14:	#AE94C9
*color15:	#e0cee2
*color2:	#33348B
*color3:	#514DA9
*color4:	#5A50A1
*color5:	#956EAA
*color6:	#AE94C9
*color66:	#0e1523
*color7:	#e0cee2
*color8:	#9c909e
*color9:	#8D5379
*foreground:	#e0cee2

*.font:	JetBrains Mono Nerd Font:pixelsize=18:antialias=true:autohint=true;
*.alpha: 0.6


URxvt*background:	[100]#0e1523
URxvt*borderColor:	[100]#0e1523
URxvt*cursorColor:	#e0cee2
URxvt*depth:	32
URxvt*foreground:	#e0cee2
UXTerm*background:	#0e1523
UXTerm*cursorColor:	#e0cee2
UXTerm*foreground:	#e0cee2
XClock*background:	#0e1523
XClock*foreground:	#e0cee2
XClock*hourColor:	rgba:e0/ce/e2/ff
XClock*majorColor:	rgba:e0/ce/e2/ff
XClock*minorColor:	rgba:e0/ce/e2/ff
XClock*minuteColor:	rgba:e0/ce/e2/ff
XClock*secondColor:	rgba:e0/ce/e2/ff
XTerm*background:	#0e1523
XTerm*cursorColor:	#e0cee2
XTerm*foreground:	#e0cee2
emacs*background:	#0e1523
emacs*foreground:	#e0cee2

